registry=https://registry.npmjs.org/
# Uncomment and set your scope for private packages if needed:
# @your-scope:registry=https://pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM/npm/registry/