trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: npm install
  displayName: 'npm install'

- script: npm run build
  displayName: 'npm run build'

- script: npm run test:jest
  displayName: 'Run Jest unit tests'

- script: npm test
  displayName: 'npm test'
