trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: npm install
  displayName: 'npm install'

- script: npm run build
  displayName: 'npm run build'

- script: echo "registry=https://pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM/npm/registry/\nalways-auth=true" > .npmrc
  displayName: 'Create .npmrc for Azure DevOps registry'

- task: NpmAuthenticate@0
  inputs:
    workingFile: .npmrc
  displayName: 'Authenticate with Azure DevOps npm registry'

- script: npm publish --registry https://pkgs.dev.azure.com/hexagonPPMInnerSource/_packaging/PPM/npm/registry/
  displayName: 'Publish to Azure DevOps npm registry'
